.col {
    max-width: 400px;
    margin: 15px;
    height: 80%;
}

.movieImage {
    border-radius: 5px;
}

.movieDetails {
    font-size: 1.5rem;
}

.titleDetail {
    font-size: 50px;
    margin-bottom: 20px;
}