.cart-icon-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 1px;
    position: relative;
    cursor: pointer;
}

.cart-icon {
    color: white;
}

.nav-link, .title{
    color: white;
}

.number-items {
    font-size: 10px;
    padding: 0 4px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 40px;
}

@media (max-width: 500px) {
    .navbar, .navbar-expand-lg, .bg-primary, .navbar-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    .cart-icon-container {
        padding: 0 10px;
    }
    .number-items {
        position: absolute;
        padding: 1px 6px;
        top: -7px;
        left: 19px;
    }
}

@media (max-width: 992px) {
    .navbar, .navbar-expand-lg, .bg-primary, .navbar-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}