.nav-link, .title{
    color: white;
}

@media (max-width: 992px) {
    .navbar, .navbar-expand-lg, .bg-primary, .navbar-container {
        display: flex;
        flex-direction: row-reverse;
    }
}