.spinner {
    display: flex;
    justify-content: center;
    color: var(--color1);
    margin-top: 50px;
}

.spinning {
    animation: spinner .5s linear 1s infinite alternate slidein;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}